<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
/*.inputcontainer {
  position: relative;
}*/

.inputcontainer {
    width:400px;
    height:400px;
    background-color:white;
    border:2px solid blue;
    position:relative;
}

.input.input {
  color: #00ff00;
  size: 5;
}

.output {
  color: #ff0000;
}

img { 
  opacity: 0.5;
}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

</style>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
</head>

<body>

<div class="navbar">
  <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a> 
  <a href="#"><i class="fa fa-fw fa-search"></i> Search</a> 
  <a href="mailto:ian.h.bell@gmail.com"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
  <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
</div>

<div class="inputcontainer">
  <img src="{{url_for('static', filename='pic.png')}}" alt="CP" width="400" height="300">
  <div style="position: absolute; top: 100px; left: 50px; font-size: 14px">\(T_{\rm e}\) [K]: <input type="text" value="273" id="Te" class="input"></div>
  <div style="position: absolute; top: 0px; left: 50px; font-size: 14px" >\(T_{\rm c}\) [K]: <input type="text" value="300" id="Tc" class="input"></div>
  <div style="position: absolute; top: 50px; right: 50px; font-size: 14px">COP [-]: <input type="text" value="?" id="COP" class="output"></div>
  <input type="button" id="buttonExecute" value="Run!" style="position: absolute; right: 0px; bottom: 0px; font-size: 18px">
</div>

<input type="button" id="buttonTable" value="Table!" position="absolute" left="50px"> 
<div id="pandas_table">
  table div
</div>

<script>
var jwt_setter = null;
if (typeof(pywebview) !== 'undefined'){
  jwt_setter = function (xhr) { //Include the bearer token in header
      xhr.setRequestHeader("Authorization", 'Bearer ' + pywebview.authToken);
  }
};

$( "#buttonTable" ).click(function() {
  // Asynchronously make the call
  $.ajax({
    method: "POST",
    url: "pandas_table",
    beforeSend: jwt_setter,
  })
  .done(function( table_html ) {
    // Success! Populate the output table and render MathJax
    $( "#pandas_table" ).html(table_html);
    // Now request a re-rerender of the div
    // See https://docs.mathjax.org/en/v1.0/typeset.html
    var obj = document.getElementById("pandas_table");
    MathJax.Hub.Queue(["Typeset",MathJax.Hub,obj]);
  })
  .fail(function( jqXHR, textStatus ) {
    // Failure... 
    alert( "Request failed: " + textStatus );
  });
});

$( "#buttonExecute" ).click(function() {
  
  // Find all the elements that are input with class input
  var input_nodes = $( "div.inputcontainer :input.input" );
  
  // Extract their values
  var input_values = {};
  input_nodes.each(function(i){
    input_values[this.id] = this.value;
  });

  // Now we have a set of key-value pairs where the first entry is 
  // the id of the input field, and the second is the value
  // as a string
    
  // For debugging purposes, dump the inputs
  //var s = JSON.stringify(input_values, null, '  ');
  //alert(s);

  var jwt_setter = null;
  if (typeof(pywebview) !== 'undefined'){
    jwt_setter = function (xhr) { //Include the bearer token in header
        xhr.setRequestHeader("Authorization", 'Bearer ' + pywebview.authToken);
    }
  };

  // Asynchronously make the call to the calculate
  // service, returning and populating the values when 
  // complete
  $.ajax({
    method: "POST",
    contentType: "application/json; charset=utf-8",
    url: "calculate",
    data: JSON.stringify(input_values),
    beforeSend: jwt_setter,
    dataType: "json"
  })
  .done(function( output_values ) {
    // Success! Populate the output nodes
    $( "div.inputcontainer :input.output" ).each(
      function(i){
        this.value = output_values[this.id];
      }
    );
  })
  .fail(function( jqXHR, textStatus ) {
    // Failure... 
    alert( "Request failed: " + textStatus );
  });
  
});
</script>

</body>
</html>